*.app
*.ipa
build/
classes/
bin/
obj/
.DS_Store
*.war
*.class
*.bak
*~
*.ear
CVS/**
CVS
.metadata/**
.DS_Store/**
**/classes/**
**/bin/**
DerivedData/
*.rar
*.zip
*.jar
*.lib
*.cod
*.jad
*.dll
*.bkg
*.xap
*.stl
*.cnt
*.scr
*.map
*.tpl
*.apk
*.jad
*.dll
*.apk
*.exe
Pods/
Podfile.lock

*.xcbkptlist
*.xcuserstate
